img {
    width: 400;
}

body {
    background-color: beige;
}

.cat-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: blanchedalmond;
    border-radius: 5%;
}